<div class="board">
  <% TicTacToe::GamePresentor.new(@game).grid.each do |row| %>
    <div class="row">
      <% row.each do |cell| %>
        <form method="post">
          <input type="hidden" name="player_1" value='<%= TicTacToe::PlayerPresenter.new(@player_1).move_json(cell) %>' />
          <input type="hidden" name="player_2" value='<%= TicTacToe::PlayerPresenter.new(@player_2).move_json %>' />
          <input type="hidden" name="board" value='<%= @game.grid.to_json %>' />
          <a class="cell" href="#" onclick="this.parentElement.submit(); return false;">
            <%= cell %>
          </a>
        </form>
      <% end %>
    </div>
  <% end %>
</div>
